name: Update XML file from ZIP

on:
  schedule:
    - cron: "0 7 * * 2,5"   # chaque mardi et vendredi à 7h00 du matin
  workflow_dispatch:

jobs:
  update-xml:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # <-- autorise le push avec GITHUB_TOKEN
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download ZIP
        run: curl -L -o xmltv_fr.zip https://xmltvfr.fr/xmltv/xmltv_fr.zip

      - name: Extract XML
        run: |
          unzip -o xmltv_fr.zip -d tmp
          cp tmp/*.xml xmltv_fr.zip   # copie/écrase le fichier XML

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add tmp/xmltv_fr.xml
          git commit -m "Mise à jour automatique du fichier XML depuis ZIP"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/creance200/ontvtoday.git
          git push origin main
